img {
    display: none;
}

/* Styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* UI Color */
    --background-color: #1E2019;
    --main-color: #393E41;
    --border-color: #D3D0CB;

    /* Font styles */
    --font-family: "Poppins", sans-serif;
    --font-main-color: #D3D0CB;
    --font-primary-brand-color: #587B7F;
    --font-secondary-brand-color: #E2C044;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    padding: 1rem 1.5rem;
}

/* Top Bar Design*/
.top-bar {
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    padding: 0 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
}

.brand h1 {
    font-family: var(--font-family);
    color: var(--font-primary-brand-color);
    font-size: 1.5rem;
}

.brand h1 span {
    color: var(--font-secondary-brand-color);
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 0.5rem;
}

.search-bar #search-icon {
    color: var(--font-main-color);
}

.search-bar input{
    height: 1.5rem;
    max-width: 45rem;
    width: 20rem;
    background-color: var(--background-color);
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

